ul {
    list-style-type: none;
    padding-left: 5px;
    margin: 5px;
  }
  
li {
    display: inline;
    margin-top: 2px;
    margin-bottom: 2px;
  }

img {
    min-height: 120px;
    max-height: 120px;
}

.Cards {
  min-height: 130px;
}