
.Player {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.Player-name {
    align-self: flex-start;
    margin-left: 3px;
}
.Player-bank {
    position: fixed;
    align-self: flex-end;
}
.Player-nums {
    align-self: flex-end;

}
.Player-buttons {
    /* background-color: rgba(245, 245, 245, 0.377); */
    /* padding: 10px; */
    margin: 10px
}